In [1]:
import pandas as pd

In [3]:
pd.read_csv(r'C:\Users\Asus\Desktop\Book1.csv')

   batch name  caste   roll no  course
0      1   ron  gen          22  python
1      1   div  gen          45   java
2      3  yash  gen          33     C++
3      2  mona  gen          22  python
4      2  pona  gen          75   java